* {
    margin: 0;
    padding: 0;
}

.menuBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, #5A7C32, #7FA653);
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center; /* Alinha verticalmente a logo ao centro */
    justify-content: flex-end;
    padding-top: 75px;
}

.links {
    display: flex;
    align-items: center; /* Alinha verticalmente os links ao centro */
    justify-content: flex-start;
    gap: 40px;
}

.link {
    padding: 10px 15px;
    color: black;
    border-radius: 15px;
    font-size: 1.2em;
    font-family: 'Sansation', sans-serif;
}

.link:link {
    text-decoration: none;
    font-weight: bold;
}

.link:visited, .link:hover, .link:active {
    text-decoration: none;
    background-color: #8FD053;
}
