.container {
  width: 100%;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 20px;

}

p {
  font-size: 16px;
  line-height: 1.5;
}

hr {
  border: 1px solid black;
}

h2 {
  font-size: 20px;
}

.teamContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.repository {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.repositoryLink {
  font-size: 16px;
  color: #0366d6;
  margin-left: 10px;
  text-decoration: none;
}

.repositoryLink:hover {
  text-decoration: underline;
}

@media (max-width: 480px){
  .container{
    padding-top: 275px;
  }
}

@media (max-width: 480px) {
  .teamContainer {
      flex-direction: column;
      width: 90%;
      height: auto;
      gap: 5px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .teamContainer {
      flex-direction: column;
      width: 80%;
      height: auto;
      gap: 8px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .teamContainer {
      flex-direction: row;
      width: 70%;
      height: 50%;
      gap: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .teamContainer {
      flex-direction: row;
      width: 60%;
      height: 50%;
      gap: 10px;
  }
}

@media (min-width: 1367px) {
  .teamContainer {
      flex-direction: row;
      width: 50%;
      height: 50%;
      gap: 10px;
  }
}