.page {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  justify-content: space-between;
  align-items: start;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.upperDiv, .lowerDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}

.card, .chartCard {
  background: linear-gradient(to top, #DCE7D0, #C3D0B4);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.card h2, .chartCard h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.chartCard h2 {
  margin-bottom: 20px;
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartCard {
  width: calc(40% - 20px);
}

.title {
  font-size: 20px;
  margin-bottom: 1px;
}

.graphTitle {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
}

/* Responsividade */
@media (min-width: 1200px) {
  .header {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .upperDiv, .lowerDiv {
    justify-content: space-around;
  }

  .card, .chartCard {
    width: calc(33.33% - 20px);
    margin: 10px;
    font-size: 20px;
  }

  .title {
    font-size: 24px;
  }

  .graphTitle {
    font-size: 22px;
  }

  .chartCard h2 {
    font-size: 22px;
  }
}

@media (min-width: 1600px) {
  .header {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .card, .chartCard {
    width: calc(25% - 20px);
    margin: 15px;
  }

  .title {
    font-size: 28px;
  }

  .graphTitle {
    font-size: 20px;
  }

  .chartCard h2 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .chartCard {
    width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {

  .header {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 275px;
  }
  
  .upperDiv, .lowerDiv {
    flex-direction: column;
    align-items: center;
  }

  .card, .chartCard {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .page {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 275px;
  }

  .card h2, .chartCard h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
  }

  .graphTitle {
    font-size: 14px;
    margin-bottom: 3px;
  }
}
