.page {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  justify-content: space-between;
  align-items: start;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.upperDiv, .lowerDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}

.card, .chartCard {
  background: linear-gradient(to top, #DCE7D0, #C3D0B4);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.card h2, .chartCard h2 {
  font-size: 15px;
  margin-bottom: 20px;
}

.chartCard h2 {
  margin-bottom: 20px;
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartCard {
  width: calc(40% - 20px);
}

.title {
  font-size: 20px;
  margin-bottom: 1px;
}

.graphTitle {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  .upperDiv, .lowerDiv {
    flex-direction: column;
    align-items: center;
  }

  .card, .chartCard {
    width: 100%;
  }
}
