.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content {
  width: 100%;
}

.inputs {
  width: 100%;
  max-width: 300px;
}

.title {
  font-size: 20px;
  margin-bottom: 1px;
}

.lowerDiv {
  display: flex;
  place-items: center;
}

.lowerDiv {
display: grid;
place-items: center;
}

@media (max-width: 480px){
.container{
  padding-top: 275px;
}
}